@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  font-family: var(--font-inter);
}
 
h1 {
  font-family: var(--font-lusitana);
  font-size: xx-large;
  font-weight: 600;
  color: rgb(140, 139, 139);
}

/* table border radius */
.css-1mxz8qt-MuiPaper-root {
  border-radius: 28px !important; 
}
